.headeredt {
  text-align: center;
  padding: 7px;
  color: rgb(25, 172, 230);
  margin-top: 33px;
  width: 162px;
}

.check-image {
  background-size: contain;
  height: 37px;
  width: 31px;
  margin-top: 38px;
}

.head {
  display: inline-flex;
  //background: rgb(244, 244, 244);
}

.main {
  text-align: center;
}
